# Gere uma chave aleatória para o ambiente, se for PowerShell:
#   $env:SGA_SECRET_KEY = "<chave-aleatoria>"
# se for CMD:
#   set SGA_SECRET_KEY=<chave-aleatoria>

SGA_SECRET_KEY=
SGA_ALLOWED_ORIGINS=http://localhost:8000
SGA_USE_HTTPS=false
